//=============== Preloader ================
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  top: 0;
  left: 0;
  background: var(--color-main2);
}

.preload-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -35px;
  z-index: 100;
}

#dream-load {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px;
  border-style: solid;
  border-color: transparent;
  border-top-color: rgba(255, 255, 255, 0.5);
  -webkit-animation: dreamrotate 2400ms linear infinite;
  animation: dreamrotate 2400ms linear infinite;
  z-index: 999;
}

#dream-load:before {
  content: "";
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  right: 7.5px;
  bottom: 7.5px;
  border-radius: 50%;
  border: 3px;
  border-style: solid;
  border-color: transparent;
  border-top-color: rgba(255, 255, 255, 0.5);
  -webkit-animation: dreamrotate 2700ms linear infinite;
  animation: dreamrotate 2700ms linear infinite;
}

#dream-load:after {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  border: 3px;
  border-style: solid;
  border-color: transparent;
  border-top-color: rgba(255, 255, 255, 0.5);
  -webkit-animation: dreamrotate 1800ms linear infinite;
  animation: dreamrotate 1800ms linear infinite;
}

@-webkit-keyframes dreamrotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes dreamrotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// Header

.navbar {
  transition: all 0.3s ease-in-out;
  .navbar-nav {
    .nav-link {
      color: var(--color-white);
      text-transform: uppercase;
    }
  }
}
.navbar.shrink {
  background-color: var(--color-blue-zodiac);
  transition: all 0.3s ease-in-out;
}
.offcanvas.sidedrowers {
  position: fixed;
  bottom: 0;
  z-index: 1045;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  visibility: hidden;
  background-color: var(--color-blue-zodiac);
  background-clip: padding-box;
  outline: 0;
  transition: transform 0.3s ease-in-out;
  &::before {
    position: absolute;
    content: "";
    height: 120vh;
    width: 135%;
    background-color: var(--color-blue-zodiac);
    left: -15%;
    top: -10%;
    bottom: 0;
    transform: rotate(350deg);
    z-index: -1;
    box-shadow: 13px 0px 109px 0px rgb(227 185 17 / 19%),
      inset 13px 0px 109px 0px rgba(16, 59, 199, 0.19);
    -webkit-box-shadow: 13px 0px 109px 0px rgb(227 185 17 / 19%),
      inset 13px 0px 109px 0px rgba(16, 59, 199, 0.19);
    -moz-box-shadow: 13px 0px 109px 0px rgb(227 185 17 / 19%),
      inset 13px 0px 109px 0px rgba(16, 59, 199, 0.19);
    -o-box-shadow: 13px 0px 109px 0px rgb(227 185 17 / 19%),
      inset 13px 0px 109px 0px rgba(16, 59, 199, 0.19);
  }
  .navbar-nav {
    .nav-link {
      color: var(--color-white);
      text-transform: uppercase;
      padding: 1rem;
      font-size: 1.5rem;
      &:hover,
      &:focus,
      &:active {
        background-color: var(--color-gold);
      }
    }
  }
  .offcanvas-header {
    padding: 1rem 3rem;
    .btn-close {
      box-sizing: content-box;
      width: 1em;
      height: 1em;
      padding: 0.25em 0.25em;
      color: #000;
      background-image: url(../assets/img/core-img/Cross_icon.svg.png);
      border: 0;
      border-radius: 0.25rem;
      opacity: 0.5;
    }
  }
  .sidedivider {
    margin: 5px auto 0;
    background-color: var(--color-gold);
    border: 0;
    opacity: 0.6;
    width: 78%;
  }
}
.footeroverlay {
  // background-image: linear-gradient(
  //     180deg,
  //     #3e7dff 0%,
  //     rgba(62, 125, 255, 0) 100%
  //   );
  //   opacity: 0.2;
}
footer {
  position: relative;
  background-image: linear-gradient(
      360deg,
      rgb(8, 3, 33) 0%,
      rgba(62, 125, 255, 0) 100%
    );
  .footimgbg1 {
    position: absolute;
    left: 0;
    top: 0;
  }
  .footimgbg2 {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  h5 {
    color: var(--color-white);
    font-weight: 700;
    position: relative;
    margin-bottom: 30px;
    font-size: 1.75rem;
    font-weight: 600;
    // &::after {
    //   content: "";
    //   position: absolute;
    //   left: 0;
    //   bottom: -15px;
    //   height: 5px;
    //   width: 150px;
    //   background-color: #cfcfcf5c;
    // }
  }
  .nav-link {
    color: var(--color-white);
    padding-left: 0;
    &:hover, &:focus, &:active {
      color: var(--color-gold);
    }
  }
  .nav-link.disabled {
    color: var(--color-white);
  }
  .socialico {
    .nav-link {
      border: 2px solid var(--color-gray);
      border-radius: 50%;
      height: 50px;
      width: 50px;
      text-align: center;
      font-size: 1.25rem;
      padding: 8px;
      transition: all 0.3s ease-in-out;
      &:hover,
      &:focus {
        border: 2px solid var(--color-gold);
        border-radius: var(--color-gold);
        box-shadow: 0px 0px 10px 10px var(--color-gold);
        color: var(--color-gold);
        border-radius: 50%;
      }
    }
  }
}
