@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
body{
    font-family: 'Rajdhani', sans-serif !important;
    font-size: var(--font-size-base);
    background-color: rgb(8 3 33/1);
}